@font-face {
    font-family: "SourceHanSansSC-Normal";
    src: url("../fonts/SourceHanSansSC_Normal.woff");
}

.not-select {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.head {
    background: #438EB9;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    color: #fff;
}

.center-content-box {
}

.left-menu {
    background: #f2f2f2;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
    border-right: #d2d2d2 1px solid;
}

.center-content {
    background: #fff;
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.logo-and-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    color: #fff !important;
}

.logo-and-title > i {
    margin-top: 10px !important;
    margin-left: 15px !important;
}

.logo-and-title > span {
    font-family: SourceHanSansSC-Normal;
    font-size: 22pt;
    height: 40px;
    padding: 15px 0 0 10px;
    float: left;
    letter-spacing: 2px;
}

.logo-img {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.m-laoding {
    position: fixed;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    width: 120px;
    height: 120px;
    background: #fff;
    opacity: 1 !important;
    z-index: 9;
    margin-left: -60px;
    margin-top: -60px;
    border-radius: 2px;
}

.m-laoding-icon {
    width: 60px;
    height: 60px;
    background: url("../images/loading.png") no-repeat;
    background-size: cover;
    animation: m-loading-icon 1s infinite linear;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -30px;
    margin-top: 8px;
}

.m-laoding-p {
    position: absolute;
    width: 100%;
    bottom: 5px;
    font-size: 14pt;
    text-align: center;
}

.user-panel {
    float: right;
}

.user-panel > div {
    float: left;
    text-align: center;

}

.user-panel-icon{
    width: 100px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
}
.user-panel-icon>span{
    position: relative;
}
.user-panel-icon>i{
    margin-right: 8px;
}
.user-panel-icon-bg-1{
    background: #6435C9 !important;
}
.user-panel-icon-bg-2{
    background: #F2711C !important;
}
.user-panel-head{
    width: 50px;height: 50px;
    position: relative;
    cursor: pointer;
}
.user-panel-head>img{
    display: block;
    width: 100%;
    height: 100%;
}
.user-panel-menu{
    width: 120px;
    height: 94px;
    background: #fff;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 2;
    border: #e3e3e3 1px solid;
    border-top: #00B5AD 4px solid;
    cursor: default;
}
.user-panel-menu>a{
    display: block;
    color: #000;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    transition: all 0.2s;
}
.user-panel-menu>a:hover{
    color: #fff;
    background: #00B5AD;
}

.menu-small-tool{
    height: 40px;
    background: #555;
    width: 100%;
}
.menu-item{
    overflow-y: auto;
    overflow-x: hidden;

}

.menu-item-level-one{
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 10px;
    cursor: pointer;
    width: 100%;
    color: #393939;
    border-left:#eef5dd 4px solid;
    border-top: #d3d3d3 1px solid;
}
.menu-item-level-one:last-child{
    border-top: #d3d3d3 1px solid;
    border-bottom: #d3d3d3 1px solid;
}
.menu-item-level-one:hover{
    background: #fff;
    border-left:#2bbbff 4px solid;
}
.menu-item-level-one>span{
    font-size: 14px;
}
.menu-item-level-one>i{
    display: block;
    float: left;
    width: 22px;
    font-size:22px;
    margin-right: 8px;
}

.menu-item-level-two-title:last-child{
    border-top: #d3d3d3 1px solid;
    border-bottom: #d3d3d3 1px solid;
}
.menu-item-level-two-title:hover{
    background: #fff;
    border-left:#2bbbff 4px solid;
}
.menu-item-level-two-title>span{
    font-size: 14px;
}
.menu-item-level-two-title>i {
    font-size: 22px;
    margin-right: 8px;
}
.menu-item-level-two-title>i:last-child{
    font-size: 16px;
    float: right;
    margin-top: 10px;
}
.menu-item-level-two-title{
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 10px;
    cursor: pointer;
    width: 100%;
    color: #393939;
    border-left:#eef5dd 4px solid;
    border-top: #d3d3d3 1px solid;
    border-bottom: #d3d3d3 1px solid;
}

.menu-item-level-two-list{
    background: #fff;
}
.menu-item-level-two-list>a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.menu-item-level-two-list>a>i:first-child{
    color: #fff;
    margin-right: 8px;
}
.menu-item-level-two-list>a>i:last-child{
    margin-right: 8px;
}
.menu-item-level-two-list>a:hover>i:first-child{
    color: #292929;
}

.content-head-bar{
    background: #f2f2f2;
    height: 40px;
    line-height: 40px;
    margin-left: 1px;
    padding: 0 10px 0 10px;
}


@keyframes m-loading-icon {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}